In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
from env import host, user, password
import os
np.random.seed(42)

In [ ]:
from pydataset import data

In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

    print the first 3 rows
    print the number of rows and columns (shape)
    print the column names
    print the data type of each column
    print the summary statistics for each of the numeric variables

In [ ]:
# a couple ways:
py_iris_df = data('iris')
iris_df = sns.load_dataset('iris')

In [ ]:
iris_df.head(3)

In [ ]:
iris_df.shape

In [ ]:
iris_df.columns.to_list()

In [ ]:
iris_df.info()

In [ ]:
iris_df.dtypes

In [ ]:
iris_df.describe()

In [ ]:
iris_df.describe().T

Read the data from this google sheet into a dataframe, df_google.

'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit?usp=sharing'

(Once you click on that, you get this one which is what you need:

https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357
)


    print the first 3 rows
    print the number of rows and columns
    print the column names
    print the data type of each column
    print the summary statistics for each of the numeric variables
    print the unique values for each of your categorical variables

In [ ]:
def get_csv_export_url(g_sheet_url):
    '''
    This function will
    - take in a string that is a url of a google sheet
      of the form "https://docs.google.com ... /edit#gid=12345..."
    - return a string that can be used with pd.read_csv
    '''
    csv_url = g_sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
    return csv_url

In [ ]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'

In [ ]:
csv_url = get_csv_export_url(sheet_url)
csv_url

In [ ]:
df_google = pd.read_csv(csv_url)

In [ ]:
df_google.head(3)

In [ ]:
df_google.shape

In [ ]:
df_google.info()

In [ ]:
df_google.columns.to_list()

In [ ]:
df_google.describe().T

In [ ]:
df_google.nunique()

In [ ]:
df_google.Sex.value_counts()

In [ ]:
df_google.Ticket.value_counts()

In [ ]:
df_google.Cabin.value_counts()

In [ ]:
df_google.Embarked.value_counts()

In [ ]:
for col in df_google.columns.to_list():
    if df_google[col].dtype == 'object':
        print (f"{col} has {df_google[col].nunique()} unique values.")

In [ ]:
# another way. Thanks Cely!
df_google.select_dtypes('object').nunique()

Download the previous exercise's file into an excel (File → Download → Microsoft Excel). Read the downloaded file into a dataframe named df_excel.

    assign the first 100 rows to a new dataframe, df_excel_sample
    print the number of rows of your original dataframe
    print the first 5 column names
    print the column names that have a data type of object
    compute the range for each of the numeric variables.

In [ ]:
# OTHER variables for passing to excel, sheet_name is a big one:
# pd.read_excel('LEA.xlsx', sheet_name="LEA Allocations", header= 1)

df_excel = pd.read_excel('train.xlsx')

In [ ]:
df_excel_sample = df_excel.head(100)

In [ ]:
df_excel.shape[0]

In [ ]:
df_excel_sample.shape[0]

In [ ]:
df_excel.columns[0:5]

In [ ]:
df_excel.columns[:5].to_list()

In [ ]:
df_excel.select_dtypes(include='object').columns

In [ ]:
df_excel.select_dtypes(exclude='object').columns

In [ ]:
df_excel.info()

In [ ]:
df_excel.select_dtypes(include=['int64','float64']).columns

In [ ]:
#### Must be an easier way to do this than 7 lines of code, but I'm going to skip it for now
## I came back and this is easier. Still needs some formatting, but I'm out of time.
for col in df_excel.select_dtypes(include=['int64','float64']).columns:
    print(f"{col}: max = {df_excel[col].max()}; min = {df_excel[col].min()}; range = {df_excel[col].max() - df_excel[col].min()}")

In [ ]:
# Also, Age and Fare are about the only ones where it makes sense to look at a range, so we could exclude the rest
titanic_stats = df_excel[['Age', 'Fare']].describe().T
titanic_stats['range'] = titanic_stats['max'] - titanic_stats['min']
titanic_stats

In [ ]:
print(f"PassengerId range = {df_excel.PassengerId.max() - df_excel.PassengerId.min()}")
print(f"Survived range = {df_excel.Survived.max() - df_excel.Survived.min()}")
print(f"Pclass range = {df_excel.Pclass.max() - df_excel.Pclass.min()}")
print(f"Age range = {df_excel.Age.max() - df_excel.Age.min()}")
print(f"SibSp range = {df_excel.SibSp.max() - df_excel.SibSp.min()}")
print(f"Parch range = {df_excel.Parch.max() - df_excel.Parch.min()}")
print(f"Fare range = {df_excel.Fare.max() - df_excel.Fare.min()}")

Make a new python module, acquire.py to hold the following data aquisition functions:

    Make a function named get_titanic_data that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the Codeup Data Science Database.

    Make a function named get_iris_data that returns the data from the iris_db on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the species_ids. Obtain your data from the Codeup Data Science Database.

    Make a function named get_telco_data that returns the data from the telco_churn database in SQL. In your SQL, be sure to join contract_types, internet_service_types, payment_types tables with the customers table, so that the resulting dataframe contains all the contract, payment, and internet service options. Obtain your data from the Codeup Data Science Database.

    Once you've got your get_titanic_data, get_iris_data, and get_telco_data functions written, now it's time to add caching to them. To do this, edit the beginning of the function to check for the local filename of telco.csv, titanic.csv, or iris.csv. If they exist, use the .csv file. If the file doesn't exist, then produce the SQL and pandas necessary to create a dataframe, then write the dataframe to a .csv file with the appropriate name.

In [ ]:
def get_sns_data(sns_source='iris'):
    '''
    This function will 
    - take in a string with the name of a seaborn dataset (default value is 'iris')
    - return a dataframe after reading the sns dataset
    '''
    iris_df = sns.load_dataset(sns_source)
    return iris_df

In [ ]:
def get_db_url(db_name, user=user, host=host, password=password):
    '''
    get_db_url accepts a database name, username, hostname, password 
    and returns a url connection string formatted to work with codeup's 
    sql database.
    Default values from env.py are provided for user, host, and password.
    '''
    return f'mysql+pymysql://{user}:{password}@{host}/{db_name}'

In [ ]:
# generic function to get a sql pull into a dataframe
def get_mysql_data(sql_query, database):
    """
    This function will:
    - take in a sql query and a database (both strings)
    - create a connection url to mySQL database
    - return a df of the given query, connection_url combo
    """
    url = get_db_url(database)
    return pd.read_sql(sql_query, url)

In [ ]:
def get_titanic_data(sql_query="SELECT * FROM passengers"
                     , filename="titanic.csv"):
    """
    This function will:
    -input 2 strings: sql_query, filename 
        default query "SELECT * FROM passengers"
        default filename "titanic.csv"
    - check the current working directory for filename (csv) existence
      - return df from that filename if it exists
    - If csv doesn't exist:
      - create a df of the sql_query
      - write df to csv
      - return that df
    """
    if os.path.isfile(filename):
        df = pd.read_csv(filename)
        print("csv file found and read")
        return df
    else:
        url = get_db_url('titanic_db')
        df = pd.read_sql(sql_query, url)
        df.to_csv(filename, index=False)
        print ("csv file not found, data read from sql query, csv created")
        return df

In [ ]:
get_titanic_data()

In [ ]:
df = get_titanic_data()
df.head()

In [ ]:
new_df = get_titanic_data()
new_df.head()

In [ ]:
def get_iris_data(sql_query="SELECT * FROM species JOIN measurements USING (species_id)"
                 , filename="iris.csv"):
    """
    This function will:
    -input 2 strings: sql_query, filename 
        default query "SELECT * FROM passengers"
        default filename "iris.csv"
    - check the current directory for filename (csv) existence
      - return df from that filename if it exists
    - If csv doesn't exist:
      - create a df of the sql_query
      - write df to csv
      - return that df
    """
    if os.path.isfile(filename):
        df = pd.read_csv(filename)
        print ("csv file found and read")
        return df
    else:
        url = get_db_url('iris_db')
        df = pd.read_sql(sql_query, url)
        df.to_csv(filename, index=False)
        print ("csv file not found, data read from sql query, csv created")
        return df

In [ ]:
get_iris_data()

In [ ]:
df = get_iris_data()
df.head()

In [ ]:
df = get_iris_data()
df.head()

In [ ]:
def get_telco_data(sql_query= """
                        SELECT  customer_id, gender, senior_citizen
                            , partner, dependents, tenure, phone_service
                            , multiple_lines, customers.internet_service_type_id
                            , internet_service_types.internet_service_type
                            , online_security, online_backup
                            , device_protection, tech_support
                            , streaming_tv, streaming_movies
                            , customers.contract_type_id
                            , contract_types.contract_type
                            , paperless_billing, customers.payment_type_id
                            , payment_types.payment_type
                            , monthly_charges, total_charges
                            , churn
                        FROM customers
                        JOIN contract_types USING (contract_type_id)
                        JOIN internet_service_types USING (internet_service_type_id)
                        JOIN payment_types USING (payment_type_id)
                    """
                    , filename="telco.csv"):
    
    """
    This function will:
    -input 2 strings: sql_query, filename 
        default query "SELECT * FROM passengers"
        default filename "telco.csv"
    - check the current directory for filename (csv) existence
      - return df from that filename if it exists
    - If csv doesn't exist:
      - create a df of the sql_query
      - write df to csv
      - return that df
    """
    if os.path.isfile(filename):
        df = pd.read_csv(filename)
        print ("csv file found and read")
        return df
    else:
        url = get_db_url('telco_churn')
        df = pd.read_sql(sql_query, url)
        df.to_csv(filename, index=False)
        print ("csv file not found, data read from sql query, csv created")
        return df

In [ ]:
get_telco_data()

In [ ]:
df = get_telco_data()
df.head()

In [ ]:
df = get_telco_data()
df.head()

In [ ]:
import acquire as acq

In [ ]:
newer_df = acq.get_iris_data()
newer_df

In [ ]:
df = acq.get_telco_data()
df.head()

In [ ]:
df = acq.get_titanic_data()
df.head()

## Exercises

The end product of this exercise should be the specified functions in a python script named prepare.py. Do these in your classification_exercises.ipynb first, then transfer to the prepare.py file.

This work should all be saved in your local classification-exercises repo. Then add, commit, and push your changes.

### Using the Iris Data:

    Use the function defined in acquire.py to load the iris data.

    Drop the species_id and measurement_id columns.

    Rename the species_name column to just species.

    Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

    Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [ ]:
import acquire as acq

In [ ]:
df = acq.get_iris_data()

In [ ]:
df.head()

In [ ]:
df = df.drop(columns=['species_id', 'measurement_id'])
df.head()

In [ ]:
df = df.rename(columns={'species_name': 'species'})
df.head()

In [ ]:
df.isnull().sum()

In [ ]:
dummy_df = pd.get_dummies(df[['species']], drop_first=True)
dummy_df.head()

In [ ]:
new_df = pd.concat([df, dummy_df], axis=1)
new_df.head()

In [ ]:
def prep_iris(df):
    """
    This function will
    - take in the iris_df
    - clean it up (remove useless columns, rename a column, and tack on some dummies columns for 'species')
    - returns cleaned up dataframe
    """
    df = df.drop(columns=['species_id', 'measurement_id'])
    df = df.rename(columns={'species_name': 'species'})
    dummy_df = pd.get_dummies(df[['species']], drop_first=True)
    new_df = pd.concat([df, dummy_df], axis=1)
    return new_df

In [ ]:
df = prep_iris(df)
df.head()

### Using the Titanic dataset

    Use the function defined in acquire.py to load the Titanic data.

    Drop any unnecessary, unhelpful, or duplicated columns.

    Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

    Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

In [ ]:
df = acq.get_titanic_data()

In [ ]:
df.head()
df.shape
df.info()

In [ ]:
missing = df.isnull().sum()
missing[missing>0]

In [ ]:
df.nunique()

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df = df.drop(columns=['passenger_id', 'class', 'embark_town', 'deck', 'age'])
df.head()

In [ ]:
df.isnull().sum()

In [ ]:
dummies_df = pd.get_dummies(df[['pclass', 'sex','embarked']], drop_first=True)
dummies_df.head()

In [ ]:
dummies_df.pclass.value_counts()

In [ ]:
dummies_df[['sex_male','embarked_Q','embarked_S']].value_counts()

In [ ]:
new_df = pd.concat([df, dummies_df], axis=1)
new_df.head()

In [ ]:
new_df.isnull().sum() # two null values in embarked. We will practice with imputer during the split

In [ ]:
def prep_titanic(df):
    """
    This function will
    - take in the titanic dataframe
    - clean it up (remove useless columns and tack on some dummies columns for 'pclass', 'sex', 'embarked')
    - returns cleaned up dataframe
    """
    df = df.drop(columns=['passenger_id', 'class', 'embark_town', 'deck', 'age'])
    dummies_df = pd.get_dummies(df[['pclass', 'sex','embarked']], drop_first=True)
    new_df = pd.concat([df, dummies_df], axis=1)
    return new_df

In [ ]:
df = acq.get_titanic_data()

In [ ]:
df = prep_titanic(df)
df.head()

### Using the Telco dataset

    Use the function defined in acquire.py to load the Telco data.

    Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

    Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

    Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.

In [ ]:
df = acq.get_telco_data()

In [ ]:
df.head()

In [ ]:
df.partner.value_counts()

In [ ]:
df = df.drop(columns=['customer_id', 'internet_service_type_id', 'contract_type_id', 'payment_type_id'])

In [ ]:
df.sample(10)

In [ ]:
df = df.rename(columns={'senior_citizen': 'is_senior'
                       ,'phone_service': 'phone_svc'
                       ,'multiple_lines': 'mult_lines'
                       ,'internet_service_type': 'intrnt_svc_type'
                       ,'streaming_tv': 'strmg_tv'
                       ,'streaming_movies': 'strmg_movies'
                       ,'paperless_billing': 'paperless_bill'})
df.sample(5)

In [ ]:
# mask = df.total_charges == ' '
# mask.sum()
# df.loc[mask, 'total_charges'] = '0'
# df.total_charges = df.total_charges.astype(float)

In [ ]:
# Another way
df.total_charges = df.total_charges.str.replace(' ', '0').astype(float)
df.total_charges

In [ ]:
df.total_charges[df.total_charges == 0]

In [ ]:
df.head().T

In [ ]:
# Encode binary categorical variables into numeric values
df['gender_encoded'] = df.gender.map({'Male': 0, 'Female': 1})
df['partner_encoded'] = df.partner.map({'No': 0, 'Yes': 1})
df['dependendents_encoded'] = df.dependents.map({'No': 0, 'Yes': 1})
df['phone_svc_encoded'] = df.phone_svc.map({'No': 0, 'Yes': 1})
df['paperless_bill_encoded'] = df.paperless_bill.map({'No': 0, 'Yes': 1})
df['churn_encoded'] = df.churn.map({'No': 0, 'Yes': 1})

In [ ]:
#dummy_df = pd.get_dummies(df[['']])
dummy_df = pd.get_dummies(df[['mult_lines', 'intrnt_svc_type', 'online_security', 'online_backup'
                               ,'device_protection', 'tech_support', 'strmg_tv', 'strmg_movies'
                               ,'contract_type', 'payment_type']], drop_first=True)
dummy_df

In [ ]:
df = pd.concat([df, dummy_df], axis=1)
df.head()

In [ ]:
df.head().T

In [ ]:
def prep_telco(df):
    """
    This function will
    - take in the telco_churn dataframe
    - clean it up (remove useless columns, rename some columns, and
      add encoded columns for categorical variables (columns) 
    - returns cleaned up (prepared) dataframe
    """
    df = df.drop(columns=['customer_id', 'internet_service_type_id', 'contract_type_id', 'payment_type_id'])
    df = df.rename(columns={'senior_citizen': 'is_senior'
                       ,'phone_service': 'phone_svc'
                       ,'multiple_lines': 'mult_lines'
                       ,'internet_service_type': 'intrnt_svc_type'
                       ,'streaming_tv': 'strmg_tv'
                       ,'streaming_movies': 'strmg_movies'
                       ,'paperless_billing': 'paperless_bill'})
    df.total_charges = df.total_charges.str.replace(' ', '0').astype(float)
    df['gender_encoded'] = df.gender.map({'Male': 0, 'Female': 1})
    df['partner_encoded'] = df.partner.map({'No': 0, 'Yes': 1})
    df['dependendents_encoded'] = df.dependents.map({'No': 0, 'Yes': 1})
    df['phone_svc_encoded'] = df.phone_svc.map({'No': 0, 'Yes': 1})
    df['paperless_bill_encoded'] = df.paperless_bill.map({'No': 0, 'Yes': 1})
    df['churn_encoded'] = df.churn.map({'No': 0, 'Yes': 1})
    dummy_df = pd.get_dummies(df[['mult_lines', 'intrnt_svc_type', 'online_security', 'online_backup'
                               ,'device_protection', 'tech_support', 'strmg_tv', 'strmg_movies'
                               ,'contract_type', 'payment_type']], drop_first=True)
    df = pd.concat([df, dummy_df], axis=1)
    return df

In [ ]:
df = acq.get_telco_data()
df.head()

In [ ]:
df = prep.prep_telco(df)
df.head().T

In [ ]:
for col in df.columns:
    print(col)
    print(df[col].value_counts())
    print(df[col].value_counts(normalize=True))
    print()

### Split your data

    Write a function to split your data into train, test and validate datasets. Add this function to prepare.py.

    Run the function in your notebook on the Iris dataset, returning 3 datasets, train_iris, validate_iris and test_iris.

    Run the function on the Titanic dataset, returning 3 datasets, train_titanic, validate_titanic and test_titanic.

    Run the function on the Telco dataset, returning 3 datasets, train_telco, validate_telco and test_telco.

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
def split_function(df, target_var):
    """
    This function will
    - take in a dataframe (df) and a string (target_var)
    - split the dataframe into 3 data frames: train (60%), validate (20%), test (20%)
    -   while stratifying on the target_var
    - And finally return the three dataframes in order: train, validate, test
    """
    train, test = train_test_split(df, random_state=42, test_size=.2, stratify=df[target_var])
    
    train, validate = train_test_split(train, random_state=42, test_size=.25, stratify=train[target_var])
    
    return train, validate, test

In [ ]:
train_telco_df, validate_telco_df, test_telco_df = split_function(df, 'churn')

In [ ]:
print(f'Prepared df: {df.shape}')
print()
print(f'Train: {train_telco_df.shape}')
print(f'Validate: {validate_telco_df.shape}')
print(f'Test: {test_telco_df.shape}')

In [2]:
import acquire as acq
import prepare as prep

In [3]:
df = acq.get_iris_data()
df = prep.prep_iris(df)
train_iris, validate_iris, test_iris = prep.split_function(df, 'species')

csv file found and read
Prepared df: (150, 7)

Train: (90, 7)
Validate: (30, 7)
Test: (30, 7)

In [4]:
df = acq.get_titanic_data()
df = prep.prep_titanic(df)
train_titanic, validate_titanic, test_titanic = prep.split_function(df, 'survived')

csv file found and read
Prepared df: (891, 12)

Train: (534, 12)
Validate: (178, 12)
Test: (179, 12)

In [5]:
df = acq.get_telco_data()
df = prep.prep_telco(df)
train_telco, validate_telco, test_telco = prep.split_function(df, 'churn')

csv file found and read
Prepared df: (7043, 47)

Train: (4225, 47)
Validate: (1409, 47)
Test: (1409, 47)