In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
np.random.seed(42)

In [ ]:
from pydataset import data

In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

    print the first 3 rows
    print the number of rows and columns (shape)
    print the column names
    print the data type of each column
    print the summary statistics for each of the numeric variables

In [ ]:
# a couple ways:
py_iris_df = data('iris')
iris_df = sns.load_dataset('iris')

In [ ]:
iris_df.head(3)

In [ ]:
iris_df.shape

In [ ]:
iris_df.columns.to_list()

In [ ]:
iris_df.info()

In [ ]:
iris_df.dtypes

In [ ]:
iris_df.describe()

In [ ]:
iris_df.describe().T

Read the data from this google sheet into a dataframe, df_google.

'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit?usp=sharing'

(Once you click on that, you get this one which is what you need:

https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357
)


    print the first 3 rows
    print the number of rows and columns
    print the column names
    print the data type of each column
    print the summary statistics for each of the numeric variables
    print the unique values for each of your categorical variables

In [ ]:
def get_csv_export_url(g_sheet_url):
    '''
    This function will
    - take in a string that is a url of a google sheet
      of the form "https://docs.google.com ... /edit#gid=12345..."
    - return a string that can be used with pd.read_csv
    '''
    csv_url = g_sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
    return csv_url

In [ ]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'

In [ ]:
csv_url = get_csv_export_url(sheet_url)
csv_url

In [ ]:
df_google = pd.read_csv(csv_url)

In [ ]:
df_google.head(3)

In [ ]:
df_google.shape

In [ ]:
df_google.info()

In [ ]:
df_google.columns.to_list()

In [ ]:
df_google.describe().T

In [ ]:
df_google.nunique()

In [ ]:
df_google.Sex.value_counts()

In [ ]:
df_google.Ticket.value_counts()

In [ ]:
df_google.Cabin.value_counts()

In [ ]:
df_google.Embarked.value_counts()

In [ ]:
for col in df_google.columns.to_list():
    if df_google[col].dtype == 'object':
        print (f"{col} has {df_google[col].nunique()} unique values.")

In [ ]:
# another way. Thanks Cely!
df_google.select_dtypes('object').nunique()

Download the previous exercise's file into an excel (File → Download → Microsoft Excel). Read the downloaded file into a dataframe named df_excel.

    assign the first 100 rows to a new dataframe, df_excel_sample
    print the number of rows of your original dataframe
    print the first 5 column names
    print the column names that have a data type of object
    compute the range for each of the numeric variables.

In [ ]:
# OTHER variables for passing to excel, sheet_name is a big one:
# pd.read_excel('LEA.xlsx', sheet_name="LEA Allocations", header= 1)

df_excel = pd.read_excel('train.xlsx')

In [ ]:
df_excel_sample = df_excel.head(100)

In [ ]:
df_excel.shape[0]

In [ ]:
df_excel_sample.shape[0]

In [ ]:
df_excel.columns[0:5]

In [ ]:
df_excel.columns[:5].to_list()

In [ ]:
df_excel.select_dtypes(include='object').columns

In [ ]:
df_excel.select_dtypes(exclude='object').columns

In [ ]:
df_excel.info()

In [ ]:
df_excel.select_dtypes(include=['int64','float64']).columns

In [ ]:
#### Must be an easier way to do this than 7 lines of code, but I'm going to skip it for now
## I came back and this is easier. Still needs some formatting, but I'm out of time.
for col in df_excel.select_dtypes(include=['int64','float64']).columns:
    print(f"{col}: max = {df_excel[col].max()}; min = {df_excel[col].min()}; range = {df_excel[col].max() - df_excel[col].min()}")

In [ ]:
# Also, Age and Fare are about the only ones where it makes sense to look at a range, so we could exclude the rest
titanic_stats = df_excel[['Age', 'Fare']].describe().T
titanic_stats['range'] = titanic_stats['max'] - titanic_stats['min']
titanic_stats

In [ ]:
print(f"PassengerId range = {df_excel.PassengerId.max() - df_excel.PassengerId.min()}")
print(f"Survived range = {df_excel.Survived.max() - df_excel.Survived.min()}")
print(f"Pclass range = {df_excel.Pclass.max() - df_excel.Pclass.min()}")
print(f"Age range = {df_excel.Age.max() - df_excel.Age.min()}")
print(f"SibSp range = {df_excel.SibSp.max() - df_excel.SibSp.min()}")
print(f"Parch range = {df_excel.Parch.max() - df_excel.Parch.min()}")
print(f"Fare range = {df_excel.Fare.max() - df_excel.Fare.min()}")

Make a new python module, acquire.py to hold the following data aquisition functions:

    Make a function named get_titanic_data that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the Codeup Data Science Database.

    Make a function named get_iris_data that returns the data from the iris_db on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the species_ids. Obtain your data from the Codeup Data Science Database.

    Make a function named get_telco_data that returns the data from the telco_churn database in SQL. In your SQL, be sure to join contract_types, internet_service_types, payment_types tables with the customers table, so that the resulting dataframe contains all the contract, payment, and internet service options. Obtain your data from the Codeup Data Science Database.

    Once you've got your get_titanic_data, get_iris_data, and get_telco_data functions written, now it's time to add caching to them. To do this, edit the beginning of the function to check for the local filename of telco.csv, titanic.csv, or iris.csv. If they exist, use the .csv file. If the file doesn't exist, then produce the SQL and pandas necessary to create a dataframe, then write the dataframe to a .csv file with the appropriate name.

In [ ]:
def get_sns_data(sns_source='iris'):
    '''
    This function will 
    - take in a string with the name of a seaborn dataset (default value is 'iris')
    - return a dataframe after reading the sns dataset
    '''
    iris_df = sns.load_dataset(sns_source)
    return iris_df

In [ ]:
from env import host, user, password
import os

def get_db_url(db_name, user=user, host=host, password=password):
    '''
    get_db_url accepts a database name, username, hostname, password 
    and returns a url connection string formatted to work with codeup's 
    sql database.
    Default values from env.py are provided for user, host, and password.
    '''
    return f'mysql+pymysql://{user}:{password}@{host}/{db_name}'

In [ ]:
# generic function to get a sql pull into a dataframe
def get_mysql_data(sql_query, database):
    """
    This function will:
    - take in a sql query and a database (both strings)
    - create a connection url to mySQL database
    - return a df of the given query, connection_url combo
    """
    url = get_db_url(database)
    return pd.read_sql(sql_query, url)

In [ ]:
def get_titanic_data(sql_query="SELECT * FROM passengers"
                     , directory='/Users/slick/codeup-data-science/classification-exercises/'
                     , filename="titanic.csv"):
    """
    This function will:
    -input 3 strings: sql_query, directory, filename 
        default query "SELECT * FROM passengers"
        default directory is "Users/slick/codeup-data-science/classification-exercises/""
        default filename "titanic.csv"
    - check the directory for filename (csv) existence
      - return df from that filename if it exists
    - If csv doesn't exist:
      - create a df of the sql_query
      - write df to csv
      - return that df
    """
    if os.path.exists(directory + filename):
        df = pd.read_csv(filename)
        return df
    else:
        url = get_db_url('titanic_db')
        df = pd.read_sql(sql_query, url)
        df.to_csv(filename, index=False)
        return df

In [ ]:
df = get_titanic_data()
df.head()

In [ ]:
new_df = get_titanic_data()
new_df.head()

In [ ]:
def get_iris_data(sql_query="SELECT * FROM species JOIN measurements USING (species_id)"
                 , directory='/Users/slick/codeup-data-science/classification-exercises/'
                 , filename="iris.csv"):
    """
    This function will:
    -input 3 strings: sql_query, directory, filename 
        default query "SELECT * FROM passengers"
        default directory is "Users/slick/codeup-data-science/classification-exercises/""
        default filename "iris.csv"
    - check the directory for filename (csv) existence
      - return df from that filename if it exists
    - If csv doesn't exist:
      - create a df of the sql_query
      - write df to csv
      - return that df
    """
    if os.path.exists(directory + filename):
        df = pd.read_csv(filename)
        return df
    else:
        url = get_db_url('iris_db')
        df = pd.read_sql(sql_query, url)
        df.to_csv(filename, index=False)
        return df

In [ ]:
df = get_iris_data()
df.head()

In [ ]:
df = get_iris_data()
df.head()

In [ ]:
def get_telco_data(sql_query= """
                        SELECT  customer_id, gender, senior_citizen
                            , partner, dependents, tenure, phone_service
                            , multiple_lines, customers.internet_service_type_id
                            , internet_service_types.internet_service_type
                            , online_security, online_backup
                            , device_protection, tech_support
                            , streaming_tv, streaming_movies
                            , customers.contract_type_id
                            , contract_types.contract_type
                            , paperless_billing, customers.payment_type_id
                            , payment_types.payment_type
                            , monthly_charges, total_charges
                            , churn
                        FROM customers
                        JOIN contract_types USING (contract_type_id)
                        JOIN internet_service_types USING (internet_service_type_id)
                        JOIN payment_types USING (payment_type_id)
                    """
                    , directory='/Users/slick/codeup-data-science/classification-exercises/'
                    , filename="telco.csv"):
    
    """
    This function will:
    -input 3 strings: sql_query, directory, filename 
        default query "SELECT * FROM passengers"
        default directory is "Users/slick/codeup-data-science/classification-exercises/""
        default filename "telco.csv"
    - check the directory for filename (csv) existence
      - return df from that filename if it exists
    - If csv doesn't exist:
      - create a df of the sql_query
      - write df to csv
      - return that df
    """
    if os.path.exists(directory + filename):
        df = pd.read_csv(filename)
        return df
    else:
        url = get_db_url('telco_churn')
        df = pd.read_sql(sql_query, url)
        df.to_csv(filename, index=False)
        return df

In [ ]:
df = get_telco_data()
df.head()

In [ ]:
df = get_telco_data()
df.head()

In [ ]:
import acquire as acq

In [ ]:
newer_df = acq.get_iris_data()
newer_df

In [ ]:
df = acq.get_telco_data()
df.head()

In [ ]:
df = acq.get_titanic_data()
df.head()

## Exercises

The end product of this exercise should be the specified functions in a python script named prepare.py. Do these in your classification_exercises.ipynb first, then transfer to the prepare.py file.

This work should all be saved in your local classification-exercises repo. Then add, commit, and push your changes.

### Using the Iris Data:

    Use the function defined in acquire.py to load the iris data.

    Drop the species_id and measurement_id columns.

    Rename the species_name column to just species.

    Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

    Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [2]:
import acquire as acq

In [ ]:
df = acq.get_iris_data()

In [ ]:
df.head()

In [ ]:
df = df.drop(columns=['species_id', 'measurement_id'])
df.head()

In [ ]:
df = df.rename(columns={'species_name': 'species'})
df.head()

In [ ]:
df.isnull().sum()

In [ ]:
dummy_df = pd.get_dummies(df[['species']], drop_first=True)
dummy_df.head()

In [ ]:
new_df = pd.concat([df, dummy_df], axis=1)
new_df.head()

In [ ]:
def prep_iris(df):
    """
    This function will
    - take in the iris_df
    - clean it up (remove useless columns, rename a column, and tack on some dummies columns for 'species')
    - returns cleaned up dataframe
    """
    df = df.drop(columns=['species_id', 'measurement_id'])
    df = df.rename(columns={'species_name': 'species'})
    dummy_df = pd.get_dummies(df[['species']], drop_first=True)
    new_df = pd.concat([df, dummy_df], axis=1)
    return new_df

In [ ]:
df = prep_iris(df)
df.head()

### Using the Titanic dataset

    Use the function defined in acquire.py to load the Titanic data.

    Drop any unnecessary, unhelpful, or duplicated columns.

    Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

    Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

In [ ]:
df = acq.get_titanic_data()

In [ ]:
df.head()
df.shape
df.info()

In [ ]:
missing = df.isnull().sum()
missing[missing>0]

In [ ]:
df.nunique()

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df = df.drop(columns=['passenger_id', 'class', 'embark_town', 'deck', 'age'])
df.head()

In [ ]:
df.isnull().sum()

In [ ]:
dummies_df = pd.get_dummies(df[['pclass', 'sex','embarked']], drop_first=True)
dummies_df.head()

In [ ]:
dummies_df.pclass.value_counts()

In [ ]:
dummies_df[['sex_male','embarked_Q','embarked_S']].value_counts()

In [ ]:
new_df = pd.concat([df, dummies_df], axis=1)
new_df.head()

In [ ]:
new_df.isnull().sum() # two null values in embarked. We will practice with imputer during the split

In [ ]:
def prep_titanic(df):
    """
    This function will
    - take in the titanic dataframe
    - clean it up (remove useless columns and tack on some dummies columns for 'pclass', 'sex', 'embarked')
    - returns cleaned up dataframe
    """
    df = df.drop(columns=['passenger_id', 'class', 'embark_town', 'deck', 'age'])
    dummies_df = pd.get_dummies(df[['pclass', 'sex','embarked']], drop_first=True)
    new_df = pd.concat([df, dummies_df], axis=1)
    return new_df

In [ ]:
df = acq.get_titanic_data()

In [ ]:
df = prep_titanic(df)
df.head()

### Using the Telco dataset

    Use the function defined in acquire.py to load the Telco data.

    Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

    Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

    Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.

In [3]:
df = acq.get_telco_data()

csv file not found; new data pulled from sql

In [4]:
df.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,internet_service_type,...,streaming_tv,streaming_movies,contract_type_id,contract_type,paperless_billing,payment_type_id,payment_type,monthly_charges,total_charges,churn
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,1,DSL,...,Yes,No,2,One year,Yes,2,Mailed check,65.6,593.3,No
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,DSL,...,No,Yes,1,Month-to-month,No,2,Mailed check,59.9,542.4,No
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,2,Fiber optic,...,No,No,1,Month-to-month,Yes,1,Electronic check,73.9,280.85,Yes
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,2,Fiber optic,...,Yes,Yes,1,Month-to-month,Yes,1,Electronic check,98.0,1237.85,Yes
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,2,Fiber optic,...,Yes,No,1,Month-to-month,Yes,2,Mailed check,83.9,267.4,Yes

In [ ]:
df.partner.value_counts()

In [5]:
df = df.drop(columns=['customer_id', 'internet_service_type_id', 'contract_type_id', 'payment_type_id'])

In [6]:
df.sample(10)

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract_type,paperless_billing,payment_type,monthly_charges,total_charges,churn
185,Male,0,No,No,32,Yes,No,None,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Bank transfer (automatic),20.05,614.45,No
2715,Male,0,Yes,Yes,72,Yes,Yes,Fiber optic,Yes,No,Yes,No,Yes,Yes,One year,Yes,Bank transfer (automatic),106.10,7848.5,No
3825,Female,0,Yes,Yes,71,Yes,Yes,DSL,Yes,Yes,Yes,Yes,Yes,Yes,Two year,No,Mailed check,91.05,6293.75,No
1807,Female,0,Yes,No,3,Yes,No,DSL,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,46.10,130.15,No
132,Male,0,Yes,Yes,8,Yes,No,None,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.15,165.5,No
1263,Male,1,No,No,41,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.40,4187.75,Yes
3732,Female,1,Yes,Yes,72,Yes,Yes,DSL,Yes,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),90.15,6716.45,No
1672,Female,0,Yes,Yes,22,No,No phone service,DSL,No,Yes,No,No,Yes,No,Month-to-month,No,Electronic check,39.20,849.9,No
811,Female,0,Yes,No,23,Yes,No,DSL,No,No,No,Yes,Yes,No,One year,No,Bank transfer (automatic),60.00,1347.15,No
2526,Female,0,Yes,Yes,66,Yes,Yes,Fiber optic,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Bank transfer (automatic),109.25,7082.5,No

In [8]:
df = df.rename(columns={'senior_citizen': 'is_senior'
                       ,'phone_service': 'phone_svc'
                       ,'multiple_lines': 'mult_lines'
                       ,'internet_service_type': 'intrnt_svc_type'
                       ,'streaming_tv': 'strmg_tv'
                       ,'streaming_movies': 'strmg_movies'
                       ,'paperless_billing': 'paperless_bill'})
df.sample(5)

,gender,is_senior,partner,dependents,tenure,phone_svc,mult_lines,intrnt_svc_type,online_security,online_backup,device_protection,tech_support,strmg_tv,strmg_movies,contract_type,paperless_bill,payment_type,monthly_charges,total_charges,churn
3850,Female,0,No,No,71,Yes,Yes,None,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Electronic check,24.55,1719.15,No
1091,Male,0,No,No,3,Yes,No,DSL,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,45.35,141.5,Yes
6224,Male,1,No,No,12,Yes,No,Fiber optic,No,Yes,Yes,Yes,No,No,Month-to-month,Yes,Mailed check,83.80,1029.75,Yes
870,Female,0,Yes,No,49,No,No phone service,DSL,No,Yes,No,Yes,Yes,Yes,One year,Yes,Credit card (automatic),56.30,2780.6,No
4912,Female,0,No,No,65,Yes,No,DSL,Yes,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),84.85,5459.2,No

In [20]:
temp = '123.45'
new = float(temp)
type(new)
###### NEED TO CHANGE total_charges TO A FLOAT. THIS ISN'T WORKING YET
df.total_charges = df.total_charges.astype(float)

ValueError: could not convert string to float: ''

In [9]:
#dummies_df = pd.get_dummies(df[['']])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             7043 non-null   object
 1   is_senior          7043 non-null   int64
 2   partner            7043 non-null   object
 3   dependents         7043 non-null   object
 4   tenure             7043 non-null   int64
 5   phone_svc          7043 non-null   object
 6   mult_lines         7043 non-null   object
 7   intrnt_svc_type    7043 non-null   object
 8   online_security    7043 non-null   object
 9   online_backup      7043 non-null   object
 10  device_protection  7043 non-null   object
 11  tech_support       7043 non-null   object
 12  strmg_tv           7043 non-null   object
 13  strmg_movies       7043 non-null   object
 14  contract_type      7043 non-null   object
 15  paperless_bill     7043 non-null   object
 16  payment_type       7043 non-null   object
 17  monthly_charges    7043 non-null   float64
 18  total_charges      7043 non-null   object
 19  churn              7043 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.1+ MB