In [7]:
# data wrangling imports
import numpy as np
import pandas as pd
import os

# visualization imports
import matplotlib.pyplot as plt
import seaborn as sns

# stats imports
from scipy import stats

# my files
import acquire as acq
import prepare as prep

In [2]:
sheet_url = "https://docs.google.com/spreadsheets/d/1VyBhKD0OqcMr6shxkc6i9aE3fFdf2K1YYIlAAyN254Q/edit#gid=0"
sheet_url = acq.get_csv_export_url(sheet_url)
sheet_url

'https://docs.google.com/spreadsheets/d/1VyBhKD0OqcMr6shxkc6i9aE3fFdf2K1YYIlAAyN254Q/export?format=csv&gid=0'

In [ ]:
## The following code gives an error, and I'm not sure why.
# df = pd.read_csv(sheet_url)

In [5]:
df = pd.read_clipboard()

In [6]:
df.head()

      1/1/18 1/2/18 1/3/18 1/4/18 1/5/18 1/6/18 1/7/18 1/8/18
Sally      P      T      T      H      P      A      T      T
Jane       A      P      T      T      T      T      A      T
Billy      A      T      A      A      H      T      P      T
John       P      T      H      P      P      T      P      P